[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygithub = "*"
pydantic-ai = "*"
pydantic-graph = "*"
dulwich = "*"
requests = "*"
pyyaml = "*"
datadog-api-client = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.14"
