version: 2.1

orbs:
  docker: circleci/docker@2.1.4

jobs:
  build-and-push:
    docker:
      - image: cimg/base:stable
    parameters:
      image-name:
        type: string
        default: leonpatmore2/pr-creator
      tag:
        type: string
        default: latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - docker/build:
          image: << parameters.image-name >>
          tag: << parameters.tag >>
          dockerfile: Dockerfile
          path: .
      - docker/push:
          image: << parameters.image-name >>
          tag: << parameters.tag >>

  build-and-push-cursor-agent:
    docker:
      - image: cimg/base:stable
    parameters:
      image-name:
        type: string
        default: leonpatmore2/cursor-agent
      tag:
        type: string
        default: latest
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - docker/build:
          image: << parameters.image-name >>
          tag: << parameters.tag >>
          dockerfile: docker/cursor/Dockerfile
          path: .
      - docker/push:
          image: << parameters.image-name >>
          tag: << parameters.tag >>

workflows:
  build:
    jobs:
      - build-and-push:
          context: docker-hub
      - build-and-push-cursor-agent:
          context: docker-hub

